// Colors
$gradientViolet: hsl(273, 75%, 66%);
$gradientBlue: hsl(240, 73%, 65%);
$darkBlue: hsl(238, 29%, 16%);
$orange: hsl(14, 88%, 65%);
$gray200: hsl(240, 5%, 91%);
$gray600: hsl(240, 6%, 50%);
$gray800: hsl(237, 12%, 33%);
$white: #FFFFFF;

// Font family
$kumbh: 'Kumbh Sans', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;